GitHub Chat/
QtProject.conf
RescueTime.com/
Slack/
autokey/*.log*
autostart/
chromium/
configstore/
dconf/
enchant/
epiphany/
evolution/
gconf/
google-chrome/
gtk-2.0/
lxqt/
menus/
pulse/
ranger/
spotify/
tox/
vlc/

Trolltech.conf
hub
monitors.xml
pavucontrol.ini
yakuakerc
nvim
